<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세페이지</title>
    <link rel="stylesheet" href="/static/css/product/product_detail.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="product-picture">
                <div>
                    <img src="" alt="" style="width: 639px; height: 639px;">
                </div>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
            <div class="product-order">
                <div class="product-detail">
                    <span class="product-detail-title">상품 이름</span>
                    <span class="product-name">사과</span>
                </div>
                <div class="product-detail">
                    <span class="product-detail-title">상품 설명</span>
                    <div>상품 설명 쫙</div>
                </div>
                <div class="product-detail">
                    <span class="product-detail-title">호수</span>
                    <select name="" id="">
                        <option value="">1호</option>
                        <option value="">2호</option>
                        <option value="">3호</option>
                        <option value="">4호</option>
                    </select>
                </div>
                <div class="product-detail">
                    <span class="product-detail-title">키로수</span>
                    <select name="" id="">
                        <option value="">5kg</option>
                        <option value="">10kg</option>
                    </select>
                </div>
                <div class="product-detail">
                    <span class="product-detail-title">수량</span>
                    <div class="product-count">
                        <button class="minus">
                            <span>-</span>
                        </button>
                        <span class="product-count-text">1</span>
                        <button class="plus">
                            <span>+</span>
                        </button>
                    </div>
                </div>
                <div>
                    <button>주문하기</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>