html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}

img {
    width: 75px;
    height: 75px;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.content {
    display: flex;
}

.product-count {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    color: #303441;
    border: 1px solid #80808066;
}

.minus, .plus {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 30px;
}

.product-count-text {
    font-size: 14px;
    color: #303441;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    line-height: 20px
}